<div class="container">
    <h1 class="text-center fw-bolder fs-1 fw-viaoda">Todas las mascotas merecen un hogar</h1>


    <div class="text-center mb-5">
        <form class="d-flex" role="search">
            <input class="text-center form-control me-2 rounded-5" type="search" placeholder="Buscar..." aria-label="Search">
        </form>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img class="rounded float-start" src="https://res.cloudinary.com/dxrn8ww6t/image/upload/v1702345469/Dog-PNG-2_vwscba.png"
            width="380" height="350">
            <p class="text-center fw-josefin fw-semibold">Aunque todas las mascotas merecen un hogar, ¡realmente creemos que todos los hogares 
                merecen una mascota!</p>
        </div>

        <div class="col-md-8">
            <h1 class="fs-1 fw-bold fw-viaoda text-center">Adopciones</h1>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="https://res.cloudinary.com/dxrn8ww6t/image/upload/v1702355201/images_nxxdmz.jpg" 
                        class="card-img-top" alt="..." width="" height="250">
                        <div class="card-body text-center">
                            <button class="btn rounded-5 w-75">Stil Reniun</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="https://res.cloudinary.com/dxrn8ww6t/image/upload/v1702355841/raza-perro-alaskan-klee-kai-646c693637acc_trqrhs.jpg" 
                        class="card-img-top" alt="..." width="" height="250">
                        <div class="card-body text-center">
                            <button class="btn rounded-5 w-75">Karlota</button>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="https://res.cloudinary.com/dxrn8ww6t/image/upload/v1702355881/fc12f85fc153f92cf1752f703acc8a00_yl87pr.jpg" 
                        class="card-img-top" alt="..." width="" height="250">
                        <div class="card-body text-center">
                            <button class="btn rounded-5 w-75">Zifrick</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
