<div class="container">
    <div class="row align-items-center">
        <div class="paw col-md-6 text-center text-lg-start">
            <h1 class="fs-1 fw-bold text-center pt-l mb-3">Consigue para tu familia un nuevo miembro.</h1>
            <p class="fs-5 text-center ">Abrir las puertas y los corazones a las mascotas 
                que necesitan un hogar, y te lo agradecerán por el resto de sus vidas. </p>
        </div>

        <div class="col-md-6 mx-auto ">
            <div class="p-4 p-md-5 " >
                <img src="https://res.cloudinary.com/dxrn8ww6t/image/upload/v1702327958/Dog-PNG-12_tn962d.png">
                <div class="card">
                    <div class="row text-center">
                        <div class="col-md-4 pt-3">
                            <h1 class="fs-1 fw-bold fw-viaoda ">223</h1>
                            <p class="fst-italic fw-bolder fs-5">Veterinarias</p>
                        </div>
                        <div class="col-md-4 pt-3">
                            <h1 class="fs-1 fw-bold fw-viaoda">756</h1>
                            <p class="fst-italic fw-bolder fs-5">Adopciones</p>
                        </div>
                        <div class="col-md-4 pt-3">
                            <h1 class="fs-1 fw-bold fw-viaoda">61</h1>
                            <p class="fst-italic fw-bolder fs-5">Refugios</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
